<div class="container-fluid">
<h2 class="h2text">My Bookstore</h2>


    

        {{#each bookletter}}
            <a href="books/{{this}}"><button type="button" class="btn btn-primary" id="t1" name="q" value="{{this}}">
            {{ this }}
            </button></a>
            
        {{/each}}
    

</div>